.section {
      display: flex;
      align-items: center;
      border-top: 1px solid #a7eee1;
}

.text {
      margin-top: 11px;
      padding-bottom: 9px;
      padding-right: 4px;
      padding-left: 4px;
}

.section svg {
      font-size: 20px;
}